body {
  background-color: #a1bfd0;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
.container {
  margin: 5px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 20px;
}
.navbar {
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0 auto;
  padding: 0;
  border-radius: 20px;
  background: rgb(161, 191, 208);
  background: linear-gradient(
    56deg,
    rgba(161, 191, 208, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 50%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar img {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  margin: 2px;
  padding: 2px;
}

.navbar a {
  text-decoration: none;
  color: black;
}
.navbar a:hover {
  font-family: "Playwrite IS", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  color: #2196f3;
  font-size: 20px;
}
.content h1 {
  text-align: center;
  font-size: 126px;
  border-radius: 20px;
  padding: 8px;
}
.content span {
  font-weight: bold;
}
.content .para {
  margin-left: 13px;
  padding-left: 13px;
  margin-right: 13px;
  padding-right: 13px;
}
.content img {
  height: 250px;
  width: 260px;
  float: right;
}
.input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.content input[type="submit"] {
  text-align: center;
  color: azure;
  background-color: #2a6fbc;
  margin: 2px;
  padding: 2px;
  border: 2px solid transparent;
  border-radius: 20px;
  height: 50px;
  width: 100px;
  transition: all 0.3s ease-in;
}

.content input[type="submit"]:hover {
  color: rgb(0, 0, 0);
  background-color: #1fbe27;
  font-weight: bold;
  border-color: #1ca6d4;
  height: 55px;
  width: 105px;
  font-size: 15px;
}
footer {
  background-color: #31444865;
  border-radius: 20px;
  width: 60%;
  position: relative;
  left: 20%;
  text-align: center;
}

.content .template {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 3px;
  padding: 3px;
}
.content .template embed {
  height: 400px;
  width: 400px;
  margin: 3px;
  padding: 3px;
  transition: all 0.3s ease-in-out;
}
.content .template embed:hover {
  border-radius: 30px;
  height: 450px;
  width: 450px;
}
.content .template a {
  text-decoration: none;
  color: black;
  display: grid;
  justify-items: center;
  margin: 3px;
  padding: 3px;
}
.content .template a:hover {
  font-family: "Playwrite IS", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  color: #2196f3;
  font-size: 20px;
}
.content #contact {
  display: grid;
  justify-items: center;
  width: 30%;
  border: 2px solid;
  border-radius: 30px;
}
.content .cform {
  display: flex;
  justify-content: space-evenly;
}
.content .cform input[type="text"],
input[type="email"],
textarea {
  border: 1px solid;
  border-radius: 10px;
  height: 25px;
  width: 50%;
}
.box {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}
#resumeForm .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#resumeForm label {
  margin-bottom: 5px;
}
#resumeForm input,
#resumeForm textarea {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
}
#resumeForm input[type="file"]::file-selector-button {
  background-color: #2a6fbc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#resumeForm button {
  align-self: flex-start;
  padding: 10px 20px;
  background-color: #2a6fbc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
#resumeForm button:hover {
  background-color: #1fbe27;
}
.grid-2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.shadow-box {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}
.hl {
  border-top: 2px solid #ddd;
  grid-column: span 2;
}
